.offer-block {
  background-image: url("../../assets/images/Header.svg");
  background-size: cover; }

.top-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(40, 50, 60, 0.8);
  padding: 24px 206px; }
  .top-block__city {
    font-size: 16px;
    color: white;
    line-height: 24px;
    vertical-align: middle; }
  .top-block__arrow-down {
    position: relative;
    top: 2px; }

.header {
  font-size: 32px;
  color: white;
  line-height: 48px;
  margin: 72px 0 36px; }

.sub-header {
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin-bottom: 60px; }

.selling-point {
  display: flex;
  flex-direction: column;
  padding: 0 208px 0; }

.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; }

.button-main {
  background: #50287d;
  border-radius: 24px;
  max-width: 300px;
  height: 48px;
  padding: 10px 18px 14px;
  color: white;
  font-size: 16px;
  font-family: "Segoe UI";
  margin-bottom: 60px; }

.container {
  display: flex;
  padding: 48px 206px;
  font-family: "Segoe UI"; }

.block-pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
  border: 1px solid #e6f0fa; }
  .block-pricing:hover {
    box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25);
    border-radius: 4px; }
  .block-pricing:hover .button-primary {
    background: #50287d;
    border-radius: 2px;
    height: 64px;
    color: white;
    margin: 4px; }

.content {
  margin-left: 24px;
  padding: 24px; }
  .content__name {
    font-size: 16px;
    line-height: 24px;
    color: #96a0aa; }
  .content__price {
    font-size: 32px;
    line-height: 48px;
    color: #28323c; }

.block-pricing:first-of-type {
  margin-left: 0; }

.content:first-of-type {
  margin-left: 0; }

.choiced {
  padding: 24px 0; }
  .choiced__item {
    font-size: 16px;
    padding-bottom: 24px;
    line-height: 24px; }
  .choiced__chek-mark {
    position: relative;
    top: 6px; }

.button-primary {
  font-size: 16px;
  line-height: 24px;
  color: #50287d;
  text-align: start;
  padding: 24px; }

.label-block {
  display: flex;
  justify-content: space-between; }

.label {
  font-size: 11px;
  line-height: 24px;
  background: #fcc8be;
  border-radius: 12px;
  padding: 0 8px 0;
  color: white; }

.container-about {
  background-color: #f3f5f7;
  font-family: "Segoe UI"; }
  .container-about__main {
    padding: 0 208px 0;
    position: relative; }
  .container-about__content {
    display: flex; }

.consultation__header {
  font-size: 32px;
  color: #28323c;
  line-height: 48px;
  padding: 48px 0 24px; }

.consultation__text {
  font-size: 16px;
  color: #28323c;
  line-height: 24px;
  margin-bottom: 24px;
  max-width: 470px; }

.consultation-image__woman {
  position: absolute;
  top: 216px;
  left: 738px; }

.consultation-image__mobile {
  position: absolute;
  top: 120px;
  left: 890px; }

.button-secondary {
  font-size: 16px;
  line-height: 24px;
  color: #50287d;
  padding: 10px 18px 14px;
  border: 2px solid #50287d;
  border-radius: 24px;
  height: 48px;
  min-width: 280px;
  box-sizing: border-box;
  margin-bottom: 48px; }

.line {
  border-bottom: 1px solid #d2dce6;
  margin-bottom: 48px; }
