<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/main-menu.css"/>
    <link rel="stylesheet" href="../styles/css/apointment.css"/>
    <link rel="stylesheet" href="../styles/css/reset.css"/>
    <title>Main</title>
</head>
<body>
    <div class="menu">
        <div class="menu__container">
            <img src="../assets/logotype/logotype.svg" class="logo">
            <div class="user">
                <div class="menu-item">
                    <img src="../assets/images/photo_user.svg" class="menu-item__icon">
                    <span class="menu-item__name">Дарья Иванова</span>
                </div>
            </div>
        <span class="sub-header">Страховки</span>
            <nav>
                <ul class="menu-items">
                    <li class="menu-item">
                        <img src="../assets/icons/icon-med.svg" class="menu-item__icon">
                        <span class="menu-item__name">Медицинская</span>
                    </li>
                    <li class="menu-item">
                        <img src="../assets/icons/icon-plan.svg" class="menu-item__icon">
                        <span class="menu-item__name">Для выезда за рубеж</span>
                    </li>
                    <li class="menu-item">
                        <img src="../assets/icons/icon-plus.svg" class="menu-item__icon">
                        <span class="menu-item__name">Добавить</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <header class="top-block">
        <img src="../assets/icons/icon-sos.svg" class="icon-sos">
    </header>
    <div class="content">
        <h1 class="content__header">Запись к врачу</h1>
        <div class="content__container">
            <div class="sub-container">
                <article class="block">
                    <div class="block__info">
                    <img src="../assets/icons/Video.svg" class="block__image">
                        <h2 class="block__header">Онлайн-<br>консультация</h2>
                        <div class="block__text">Аудио- или видеосвязь<br> с врачом прямо сейчас</div>
                    </div>
                    <button class="block__button reset-button">Консультация</button>
                </article>
                <article class="block">
                    <div class="block__info">
                    <img src="../assets/icons/dr-headphones.svg" class="block__image">
                        <h2 class="block__header">Приём <br>в клинике</h2>
                        <div class="block__text">20 клиник в Москве</div>
                    </div>
                    <button class="block__button reset-button">Записаться</button>
                </article>
                <article class="block">
                    <div class="block__info">
                    <img src="../assets/icons/Home.svg" class="block__image">
                        <h2 class="block__header">Вызов врача <br>на дом</h2>
                        <div class="block__text">Терапевт приедет <br>сегодня до 20:00</div>
                    </div>
                    <button class="block__button reset-button">Вызвать</button>
                </article>
                <article class="block">
                    <div class="block__info">
                    <img src="../assets/icons/help-circle.svg" class="block__image">
                        <h2 class="block__header">Скорая помощь</h2>
                        <div class="block__text">Срочный вызов скорой <br>по телефону</div>
                    </div>
                    <button class="block__button block_red block__red-text reset-button">SOS</button>
                </article>
            </div>
        </div>
    </div>
</body>
</html>