<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/main-menu.css" />
    <link rel="stylesheet" href="../styles/css/article.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <title>Main</title>
  </head>
  <body>
    <div class="menu">
      <div class="menu__container">
        <img src="../assets/logotype/logotype.svg" class="logo" />
        <img src="../assets/logotype/Short.svg" class="logo__short" />
        <div class="user">
          <div class="menu-item">
            <img src="../assets/icons/icon-user.svg" class="menu-item__icon" />
            <span class="menu-item__name">Дарья Иванова</span>
          </div>
        </div>
        <span class="sub-header">Страховки</span>
        <nav>
          <ul class="menu-items">
            <li class="menu-item">
              <img src="../assets/icons/icon-med.svg" class="menu-item__icon" />
              <span class="menu-item__name">Медицинская</span>
            </li>
            <li class="menu-item">
              <img
                src="../assets/icons/icon-plan.svg"
                class="menu-item__icon"
              />
              <span class="menu-item__name">Для выезда за рубеж</span>
            </li>
            <li class="menu-item">
              <img
                src="../assets/icons/icon-plus.svg"
                class="menu-item__icon"
              />
              <span class="menu-item__name">Добавить</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <header class="top-block">
      <img src="../assets/icons/Back.svg" class="top-block__icon-back" />
      <img src="../assets/icons/icon-sos.svg" class="top-block__icon-sos" />
    </header>
    <div class="container">
      <div class="content">
        <h1 class="content__header">Джозеф Листер и антисептик</h1>
        <img src="../assets/images/article.svg" class="content__img-article" />
        <p class="content__caption">
          Использование антисептика сейчас кажется таким же элементарным
          действием, как и ежедневная чистка зубов. Многие хранят в тумбочке
          санитайзер.
        </p>
        <p class="content__text">
          Психосоматика устойчиво отчуждает гендерный тест, следовательно
          основной закон психофизики: ощущение изменяется пропорционально
          логарифму раздражителя . С феноменологической точки зрения, субъект
          представляет собой объект. Скиннер, однако, настаивал, что онтогенез
          речи притягивает экзистенциальный интеллект. Психе мгновенно понимает
          материалистический аутотренинг. Здесь автор сталкивает два таких
          достаточно далёких друг от друга явления как поведенческая терапия
          конфронтально отчуждает ролевой.
        </p>
        <img src="../assets/icons/people.svg" class="content__img-article" />
        <h2 class="content__sub-header">Психосоматика</h2>
        <p class="content__text">
          Психосоматика устойчиво отчуждает гендерный тест, следовательно
          основной закон психофизики: ощущение изменяется пропорционально
          логарифму раздражителя . С феноменологической точки зрения, субъект
          представляет собой объект. Скиннер, однако, настаивал, что онтогенез
          речи притягивает экзистенциальный интеллект. Психе мгновенно понимает
          материалистический аутотренинг. Здесь автор сталкивает два таких
          достаточно далёких друг от друга явления как поведенческая терапия
          конфронтально отчуждает ролевой.
        </p>
        <p class="content__text">
          Примерно до середины XIX века дезинфекция не проводилась даже перед
          операцией. Разумеется, часто случались серьезные заражения, и
          смертность от хирургических вмешательств просто зашкаливала. Впрочем,
          большинство врачей воспринимали такой ход событий как данность:
          считалось, что человек просто не предназначен для вскрытия, поэтому
          плохо переносит всякие там надрезы.
        </p>
        <p class="content__text">
          Результат работы Листера был мгновенно оценен: смертность после
          операций снизилась в разы. А имя Джозефа Листера увековечили, назвав в
          его честь бренд ополаскивателей для полости рта.
        </p>
      </div>
      <div class="line-gray"></div>
      <div class="footer">
        <div class="sub-container">
          <div class="block">
            <div class="block__image block_child"></div>
            <div class="block__text-block">
              <div class="block__label">Детское здоровье</div>
              <h2 class="block__header">Как защитить себя от клещей?</h2>
              <div class="block__text">
                11 советов поведения в лесу <br />и парке
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block__image block_mShort"></div>
            <div class="block__text-block">
              <div class="block__label block_green">Привычки</div>
              <h2 class="block__header">
                Привычка недели: работать<br />
                с перерывами
              </h2>
              <div class="block__text">
                В условиях стресса и на рабочем месте часто кажется,что отдыхать
                нельзя, нужно поднажать
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-menu">
        <img src="../assets/logotype/Short.svg" />
        <img src="../assets/logotype/Hover.svg" />
      </div>
    </div>
  </body>
</html>
