<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/auth.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="background"></div>
      <header class="header">
        <img src="../assets/logotype/logotype.svg" />
        <img src="../assets/icons/icon-sos.svg" />
      </header>
      <main class="main">
        <div class="form-login">
          <h2 class="form-login__heading">Вход</h2>
          <div class="form-login__control primary-input">
            <label class="primary-input__label" for="number"
              >Номер телефона</label
            >
            <input
              class="input-reset primary-input__field"
              type="text"
              id="number"
              name="number"
            />
          </div>
          <input class="form-login__button" type="submit" value="Продолжить" />
          <div class="note">
            <div class="note__subheading">
              Вход для клиентов СК «Благосостояние»
            </div>
            <p class="note__text">
              Нажимая кнопку «Продолжить», вы выражаете согласие на обработку
              своих персональных данных и принимаете условия соглашения
            </p>
          </div>
          <img
            class="form-login__icon-headphones"
            src="../assets/icons/headphones.svg"
          />
        </div>
      </main>
      <footer class="footer">
        <img
          class="footer__appStore"
          src="../assets/images/Badge_ AppStore.svg"
        />
        <img
          class="footer__googlePay"
          src="../assets/images/Badge_GooglePlay.svg"
        />
      </footer>
      <div class="bottom-menu">
        <img src="../assets/logotype/Short.svg" />
        <img src="../assets/icons/menu-dots.svg" />
      </div>
    </div>
  </body>
</html>
