<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/landing.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="offer-block">
      <header class="top-block">
        <div class="top-block__container">
          <img
            src="../assets/logotype/Logotype-white.svg"
            class="top-block__logotype"
          />
          <img
            src="../assets/logotype/Short.svg"
            class="top-block__short-logo"
          />
          <div class="top-block__city">
            Москва
            <img
              src="../assets/icons/Light-arrow-down.svg"
              class="top-block__arrow-down"
            />
          </div>
        </div>
      </header>
      <div class="selling-point">
        <h1 class="header">Персональная медицинская помощь у вас дома</h1>
        <div class="sub-header">
          Получайте квалифицированную медицинскую помощь не выходя из дома.
        </div>
        <button class="button-main reset-button">Выбрать пакет</button>
      </div>
    </div>
    <div class="option-block">
      <div class="option-block__container">
        <div class="option-block__visible">
          <div class="option-block__hidden">
            <div class="block-pricing">
              <div class="content">
                <div class="label-block">
                  <div class="content__name">Базовый</div>
                  <div class="label">Самый популярный</div>
                </div>
                <div class="content__price">900 ₽</div>
                <ul class="choiced">
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Консультации с врачами онлайн без ограничений
                  </li>
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Доставка лекарств
                  </li>
                </ul>
              </div>
              <button class="button-primary reset-button">
                Выбрать на 1 месяц
              </button>
            </div>
            <div class="block-pricing">
              <div class="content">
                <div class="content__name">Расширенный</div>
                <div class="content__price">5200 ₽</div>
                <ul class="choiced">
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Консультации с врачами онлайн без ограничений
                  </li>
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Доставка лекарств
                  </li>
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Вызовы врачей на дом
                  </li>
                </ul>
              </div>
              <button class="button-primary reset-button">
                Выбрать на 1 месяц
              </button>
            </div>
            <div class="block-pricing">
              <div class="content">
                <div class="content__name">Полный</div>
                <div class="content__price">8200 ₽</div>
                <ul class="choiced">
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Консультации с врачами онлайн без ограничений
                  </li>
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Доставка лекарств
                  </li>
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Вызовы врачей надом
                  </li>
                  <li class="choiced__item">
                    <img
                      src="../assets/icons/chek-mark.svg"
                      class="choiced__chek-mark"
                    />
                    Страховка от COVID-19
                  </li>
                </ul>
              </div>
              <button class="button-primary reset-button">
                Выбрать на 1 месяц
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="consultation-block">
      <div class="container-about">
        <div class="container-about__main">
          <div class="container-about__content">
            <div class="consultation">
              <h1 class="consultation__header">
                Консультации с врачами онлайн
              </h1>
              <div class="consultation__text">
                Не ходите лишний раз в поликлинику. Онлайн-консультации с
                квалифицированными врачами — безопасный способ решить
                медицинские вопросы.
              </div>
              <div class="consultation__text">
                Обратитесь к терапевту, кардиологу, неврологу, лору и многим
                другим специалистам в личном кабинете Ренессанс здоровье. В
                приложении или на сайте.
              </div>
              <div class="consultation__text">
                Ответим на вопросы о симптомах, расшифруем результаты анализов,
                проконсультируем по назначенным при лечении препаратами,
                предоставим «второе мнение», если сомневаетесь в диагнозе.
              </div>
              <button class="button-secondary reset-button">
                Показать список врачей
              </button>
            </div>
            <div class="consultation-image">
              <img
                src="../assets/images/tsar-landing/woman.jpg"
                class="consultation-image__woman"
              />
              <img
                src="../assets/images/tsar-landing/mobile-call.jpg"
                class="consultation-image__mobile"
              />
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="advantage-block">
          <div class="advantage-block__container">
            <div class="item-advantage">
              <div class="picture picture_man-sick">
                <div class="picture__bg">Доставка лекарств</div>
              </div>
              <div class="item-advantage__sub-text">
                Специальные условия на онлайн-заказ и доставку лекарств в
                eapteka.ru для клиентов «Ренессанс здоровье». Берегите время и
                здоровье, избегая лишних походов в аптеку.
              </div>
            </div>
            <div class="item-advantage">
              <div class="picture picture_girl">
                <div class="picture__bg">Вызовы врачей на дом</div>
              </div>
              <div class="item-advantage__sub-text">
                Если онлайн консультации недостаточно, вы сможете вызвать
                терапевта на дом. Провести дополнительный осмотр или уточнить
                диагноз. Для базового тарифа вызов врача доступен при оплате за
                вызов.
              </div>
            </div>
            <div class="item-advantage">
              <div class="picture picture_handshake">
                <div class="picture__bg">АнтиВирус</div>
              </div>
              <div class="item-advantage__sub-text">
                Страховка на случай инфекционного заболевания, включая COVID-19.
                Выплаты по больничному листу в результате болезни или смерти
                застрахованного.
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="сompany-block">
          <div class="company-block__container">
            <h2 class="sub-header-dark">
              Ренессанс здоровье — <br />входит в группу компаний Ренессанс
              страхование
            </h2>
            <div class="about-company">
              <div class="info-block">
                <img
                  src="../assets/icons/Colored-couple.svg"
                  class="info-block__image"
                />
                <div class="info-block__numeral">220 000</div>
                <div class="info-block__text">Клиентов по всей России</div>
              </div>
              <div class="info-block">
                <img
                  src="../assets/icons/Colored-camera.svg"
                  class="info-block__image"
                />
                <div class="info-block__numeral">2000</div>
                <div class="info-block__text">Онлайн-консультаций в месяц</div>
              </div>
              <div class="info-block">
                <img
                  src="../assets/icons/Colored-house.svg"
                  class="info-block__image"
                />
                <div class="info-block__numeral">2000</div>
                <div class="info-block__text">Выездных консультаций</div>
              </div>
              <div class="info-block">
                <img
                  src="../assets/icons/Colored-doctor.svg"
                  class="info-block__image"
                />
                <div class="info-block__numeral">500</div>
                <div class="info-block__text">Врачей</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="how-work">
      <div class="how-work__container">
        <div class class="how-work-block">
          <h1 class="how-work__header">Как это работает</h1>
          <ul class="steps">
            <li class="step">
              <div class="step__number">1</div>
              <div class="step__text">
                Оформите подходящий пакет — на 1, 3 или 12 месяцев.
              </div>
            </li>
            <li class="step">
              <div class="step__number">2</div>
              <div class="step__text">
                Войдите по номеру телефона в личный кабинет «Ренессанс
                здоровье». На сайте или в приложении.
              </div>
            </li>
            <li class="step">
              <div class="step__number">3</div>
              <div class="step__text">
                Выберите врача в разделе<br />
                «Онлайн-консультации».
              </div>
            </li>
            <li class="step">
              <div class="step__number">4</div>
              <div class="step__text">Общайтесь в удобном для вас формате</div>
            </li>
          </ul>
        </div>
        <div class="block-youtube">Embed YouTube</div>
      </div>
    </div>
    <div class="line"></div>
    <div class="registration">
      <div class="registration__header">Оформить пакет медицинской помощи</div>
      <div class="registration-container">
        <div class="form">
          <div class="form-container">
            <div class="form-input">
              <label class="form-input__label" for="surname">Фамилия</label>
              <input
                class="input-reset form-input__field"
                type="text"
                id="surname"
              />
            </div>
            <div class="form-input">
              <label class="form-input__label" for="name">Имя</label>
              <input
                class="input-reset form-input__field"
                type="text"
                id="name"
              />
            </div>
            <div class="form-input">
              <label class="form-input__label" for="patronymic">Отчество</label>
              <input
                class="input-reset form-input__field"
                type="text"
                id="patronymic"
              />
            </div>
            <div class="form-input">
              <label class="form-input__label" for="number-phone"
                >Номер телефона</label
              >
              <input
                class="input-reset form-input__field"
                type="text"
                id="number-phone"
              />
            </div>
            <!--
              <div class="select-item">
                <label class="select-item__label" for="package">Пакет</label>
                <select id="select-item__package">
                  <option value="base">Базовый, на 1 месяц — 900 ₽</option>
                  <option
                    value="
                  expanded"
                  >
                    Расширенный, на 3 месяца
                  </option>
                  <option value="full">Полный,на 9 месяцев</option>
                </select>
              </div>
              -->
            <div class="checkbox-confirm">
              <label class="input">
                <input
                  type="checkbox"
                  class="input__confirm"
                  checked="checked"
                />
                <div class="input__checkbox">
                  <div class="input__checkbox-square"></div>
                </div>
              </label>
              <div class="checkbox-confirm__text">
                Продолжая, я соглашаюсь с правилами и программой оказания услуг.
              </div>
            </div>
            <div class="button">Оформить</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer__container">
        <div class="footer__text">
          Медицинские услуги оказываются партнерами:<br />
          ООО «Медкорп», Лицензия № ЛО-50-01-009076 от 10 Октября 2017 года.<br />Адрес:
          115114, г. Москва, Дербеневская наб. д. 7, стр. 22 <br />
          ООО «Доктор Рядом», Лицензия № ЛО-77-01-013560 от 29 Ноября 2016
          года.<br />Адрес: 107076, г. Москва, ул. Краснобогатырская, д. 44,
          стр. 1
        </div>
      </div>
    </div>
  </body>
</html>
