<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/landingAntimite.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <title>landingAntimite</title>
  </head>
  <body>
    <header class="top-block">
      <img src="../assets/logotype/logotype.svg" class="top-block__logo" />
      <img src="../assets/logotype/Short.svg" class="top-block__logo--short" />
      <img src="../assets/icons/messagesDark.svg" class="top-block__icon" />
      <img src="../assets/icons/sosDark.svg" />
    </header>
    <div class="landing-content">
      <div class="landing-content__container">
        <div class="offer-block">
          <div class="offer-block__text">
            <div class="row">
              <div class="col-md-5">
                <h1 class="offer-block__header">Антиклещ</h1>
                <div class="offer-block__header--gray">от 1600 ₽</div>
                <div class="offer-block__sub-header">
                  Дополнительная защита в случае укуса клеща. Будьте готовы к
                  отдыху на природе.
                </div>
                <div class="button-secondary">Оформить полис</div>
              </div>
              <div class="offset-md-1"></div>
              <div class="col-md-6">
                <img
                  src="../assets/images/anti-mite/forest.png"
                  class="offer-block__illustration"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="advantage-block">
          <h2 class="block__header-small">Преимущества</h2>
          <div class="row">
            <div class="col-md-4">
              <aside class="block">
                <img
                  src="../assets/images/anti-mite/allInClusive.svg"
                  class="block__icon"
                />
                <div class="block__header-small">Всё включено</div>
                <div class="block__sub-text">
                  От консультации и удаления клеща до реабилитации, в случае
                  осложнения заболевания
                </div>
              </aside>
            </div>
            <div class="col-md-4">
              <aside class="block">
                <img
                  src="../assets/images/anti-mite/tree.svg"
                  class="block__icon"
                />
                <div class="block__header-small">По всей стране</div>
                <div class="block__sub-text">
                  Полис действует на всей территории РФ без ограничений
                </div>
              </aside>
            </div>
            <div class="col-md-4">
              <aside class="block">
                <img
                  src="../assets/images/anti-mite/checks.svg"
                  class="block__icon"
                />
                <div class="block__header-small">Просто и понятно</div>
                <div class="block__sub-text">
                  В случае укуса клеща, позвоните на наш медицинский пульт и
                  получите все рекомендации
                </div>
              </aside>
            </div>
          </div>
        </div>
        <div class="opportunities-block">
          <h1 class="header">Возможности</h1>
          <div class="row">
            <div class="col-md-6">
              <div class="item">
                <div class="item__sub-header">В поликлинике</div>
                <div class="item__text">
                  Лабораторное исследование удаленного клеща и экстренная
                  иммунизация противоклещевым иммуноглобулином.
                </div>
              </div>
              <div class="item">
                <div class="item__sub-header">В случае госпитализации</div>
                <div class="item__text">
                  Размещение в комфортных палатах и полное медикаментозное
                  обеспечение. Наблюдение и помощь в восставнолении после
                  выписки из больницы.
                </div>
              </div>
              <div class="item">
                <div class="item__sub-header">Телемедицина</div>
                <div class="item__text">
                  Врач ответит на все вопросы про клещей и заболевания, которые
                  они вызывают. Объяснит, как избежать укуса и что делать, если
                  все-таки укусили.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img
                src="../assets/images/anti-mite/pointer.png"
                class="opportunities-block__illustration"
              />
            </div>
          </div>
        </div>
        <div class="attention-block">
          <div class="row">
            <div class="col-md-8">
              <img src="../assets/images/anti-mite/bell.svg" />
              <p class="attention-block__text">
                После покупки полис и квитанция об оплате будут в ту же минуту
                отправлены Вам на E-mail, а также доступны в Личном кабинете на
                сайте и в Мобильном приложении.
              </p>
            </div>
            <div class="col-md-5">
              <div class="button-secondary">Оформить полис</div>
            </div>
          </div>
        </div>
        <div class="registration-block">
          <div class="header">Оформление полиса</div>
          <div class="row">
            <div class="col-md-3">
              <div class="registration-block__label">Начало действия</div>
              <input
                type="text"
                class="input-reset input-field--white"
                value="25 декабря 2019 года"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="registration-block__notification">
                Договор страхования вступает в силу через 14 дней с момента
                покупки полиса и действует 12 месяцев
              </div>
              <h2 class="registration-block__header-small">Страхователь</h2>
              <div class="registration-block__sub-header">
                Тот, кто оплачивает полис
              </div>
              <div class="registration-block__sub-header--black">
                Контактные данные
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="registration-block__label">Фамилия</div>
              <input type="text" class="input-reset input-field--white" />
              <div class="registration-block__label">Отчество</div>
              <input type="text" class="input-reset input-field--white" />
              <div class="registration-block__label">E-mail</div>
              <input type="text" class="input-reset input-field--white" />
              <div class="registration-block__caption">
                для получения электронного полиса
              </div>
            </div>

            <div class="col-md-5">
              <div class="registration-block__label">Имя</div>
              <input type="text" class="input-reset input-field--white" />
              <div class="registration-block__label">Дата рождения</div>
              <input type="text" class="input-reset input-field--white" />
              <div class="registration-block__label">Номер телефона</div>
              <input type="text" class="input-reset input-field--white" />
              <div class="registration-block__caption">
                на экстренный случай
              </div>
            </div>
          </div>
          <div class="registration-block__sub-header--black">
            Паспортные данные
          </div>
          <div class="row">
            <div class="registration-block__field col-md-2">
              <div class="registration-block__label">Серия</div>
              <input type="text" class="input-reset input-field--white" />
            </div>
            <div class="registration-block__field col-md-2">
              <div class="registration-block__label">Номер</div>
              <input type="text" class="input-reset input-field--white" />
            </div>
            <div class="offset-md-1"></div>
            <div class="registration-block__field col-md-3">
              <div class="registration-block__label">Дата выдачи</div>
              <input type="text" class="input-reset input-field--white" />
            </div>
            <div class="offset-md-4"></div>
            <div class="registration-block__field col-md-5">
              <div class="registration-block__label">Кем выдан</div>
              <input type="text" class="input-reset input-field--white" />
            </div>
          </div>
          <div class="registration-block__sub-header--black">
            Адрес регистрации
          </div>
          <div class="row">
            <div class="registration-block__field col-md-5">
              <div class="registration-block__label">
                Адрес в свободной форме
              </div>
              <input type="text" class="input-reset input-field--white" />
            </div>
          </div>
          <div class="confirm">
            <label class="confirm-checkbox">
              <input
                type="checkbox"
                checked="checked"
                class="confirm-checkbox__checkbox-original"
              />
              <div class="confirm-checkbox__checkbox">
                <div class="confirm-checkbox__checkbox-square"></div>
              </div>
            </label>
            <div class="confirm__text">Является застрахованным</div>
          </div>
          <div class="block-add-insured">
            <img src="../assets/icons/menuPlusColor.svg" />
            <div class="block-add-insured__text">Добавить застрахованного</div>
          </div>
        </div>
      </div>
      <div class="target-action-block">
        <div class="target-action-block__container">
          <div class="row">
            <div class="col-md-6">
              <div class="confirm">
                <label class="confirm-checkbox">
                  <input
                    type="checkbox"
                    checked="checked"
                    class="confirm-checkbox__checkbox-original"
                  />
                  <div class="confirm-checkbox__checkbox">
                    <div class="confirm-checkbox__checkbox-square"></div>
                  </div>
                </label>
                <div class="confirm__text">
                  Продолжая, соглашаюсь с правилами и условиями страхования
                </div>
              </div>
            </div>
            <div class="offset-md-6"></div>
            <div class="button-main-disabled col-md-5">
              Оформить полис за 2 000 ₽
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <footer class="footer">
      <div class="footer__container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer__text">
              Медицинские услуги оказываются партнерами:
            </div>
            <div class="footer__text">
              ООО «Медкорп», Лицензия № ЛО-50-01-009076 от 10 Октября 2017 года.
              Адрес: 115114, г. Москва, Дербеневская наб. д. 7, стр. 22
            </div>
            <div class="footer__text">
              ООО «Доктор Рядом», Лицензия № ЛО-77-01-013560 от 29 Ноября 2016
              года.Адрес: 107076, г. Москва, ул. Краснобогатырская, д. 44, стр.
              1
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
