<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/landing.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="offer-block">
      <header class="top-block">
        <div class="top-block__container">
          <img
            src="../assets/logotype/Logotype-white.svg"
            class="top-block__logotype"
          />
          <div class="top-block__city">
            Москва
            <img
              src="../assets/icons/Light-arrow-down.svg"
              class="top-block__arrow-down"
            />
          </div>
        </div>
      </header>
      <div class="selling-point">
        <h1 class="header">Персональная медицинская помощь у вас дома</h1>
        <div class="sub-header">
          Получайте квалифицированную медицинскую помощь<br />
          не выходя из дома.
        </div>
        <button class="button-main reset-button">Выбрать пакет</button>
      </div>
    </div>
    <div class="option-block">
      <div class="container">
        <div class="block-pricing">
          <div class="content">
            <div class="label-block">
              <div class="content__name">Базовый</div>
              <div class="label">Самый популярный</div>
            </div>
            <div class="content__price">900 ₽</div>
            <ul class="choiced">
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Консультации с врачами онлайн без ограничений
              </li>
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Доставка лекарств
              </li>
            </ul>
          </div>
          <button class="button-primary reset-button">
            Выбрать на 1 месяц
          </button>
        </div>
        <div class="block-pricing">
          <div class="content">
            <div class="content__name">Расширенный</div>
            <div class="content__price">5200 ₽</div>
            <ul class="choiced">
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Консультации с врачами онлайн без ограничений
              </li>
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Доставка лекарств
              </li>
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Вызовы врачей на дом
              </li>
            </ul>
          </div>
          <button class="button-primary reset-button">
            Выбрать на 1 месяц
          </button>
        </div>
        <div class="block-pricing">
          <div class="content">
            <div class="content__name">Полный</div>
            <div class="content__price">8200 ₽</div>
            <ul class="choiced">
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Консультации с врачами онлайн без ограничений
              </li>
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Доставка лекарств
              </li>
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Вызовы врачей надом
              </li>
              <li class="choiced__item">
                <img
                  src="../assets/icons/chek-mark.svg"
                  class="choiced__chek-mark"
                />
                Страховка от COVID-19
              </li>
            </ul>
          </div>
          <button class="button-primary reset-button">
            Выбрать на 1 месяц
          </button>
        </div>
      </div>
    </div>
    <div class="consultation-block">
      <div class="container-about">
        <div class="container-about__main">
          <div class="container-about__content">
            <div class="consultation">
              <h1 class="consultation__header">
                Консультации с врачами онлайн
              </h1>
              <div class="consultation__text">
                Не ходите лишний раз в поликлинику. Онлайн-консультации с
                квалифицированными врачами — безопасный способ решить
                медицинские вопросы.
              </div>
              <div class="consultation__text">
                Обратитесь к терапевту, кардиологу, неврологу, лору и многим
                другим специалистам в личном кабинете Ренессанс здоровье. В
                приложении или на сайте.
              </div>
              <div class="consultation__text">
                Ответим на вопросы о симптомах, расшифруем результаты анализов,
                проконсультируем по назначенным при лечении препаратами,
                предоставим «второе мнение», если сомневаетесь в диагнозе.
              </div>
            </div>
            <div class="consultation-image">
              <img
                src="../assets/images/tsar-landing/woman.jpg"
                class="consultation-image__woman"
              />
              <img
                src="../assets/images/tsar-landing/mobile-call.jpg"
                class="consultation-image__mobile"
              />
            </div>
          </div>
          <button class="button-secondary reset-button">
            Показать список врачей
          </button>
        </div>
        <div class="line"></div>
        <div class="advantage-block">
          <div class="advantage-block__container">
            <div class="item-advantage">
              <div class="picture picture_man-sick">
                <div class="picture__bg">Доставка лекарств</div>
              </div>
              <div class="item-advantage__sub-text">
                Специальные условия на онлайн-заказ и доставку лекарств в
                eapteka.ru для клиентов «Ренессанс здоровье». Берегите время и
                здоровье, избегая лишних походов в аптеку.
              </div>
            </div>
            <div class="item-advantage">
              <div class="picture picture_girl">
                <div class="picture__bg">Вызовы врачей на дом</div>
              </div>
              <div class="item-advantage__sub-text">
                Если онлайн консультации недостаточно, вы сможете вызвать
                терапевта на дом. Провести дополнительный осмотр или уточнить
                диагноз. Для базового тарифа вызов врача доступен при оплате за
                вызов.
              </div>
            </div>
            <div class="item-advantage">
              <div class="picture picture_handshake">
                <div class="picture__bg">АнтиВирус</div>
              </div>
              <div class="item-advantage__sub-text">
                Страховка на случай инфекционного заболевания, включая COVID-19.
                Выплаты по больничному листу в результате болезни или смерти
                застрахованного.
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </body>
</html>
