<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/main-menu.css" />
    <link rel="stylesheet" href="../styles/css/main.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <title>Main</title>
  </head>
  <body>
    <div class="menu">
      <div class="menu__container">
        <img src="../assets/logotype/logotype.svg" class="logo" />
        <img src="../assets/logotype/Short.svg" class="logo__short" />
        <div class="user">
          <div class="menu-item">
            <img src="../assets/icons/icon-user.svg" class="menu-item__icon" />
            <span class="menu-item__name">Дарья Иванова</span>
          </div>
        </div>
        <span class="sub-header">Страховки</span>
        <nav>
          <ul class="menu-items">
            <li class="menu-item">
              <img src="../assets/icons/icon-med.svg" class="menu-item__icon" />
              <span class="menu-item__name">Медицинская</span>
            </li>
            <li class="menu-item">
              <img
                src="../assets/icons/icon-plan.svg"
                class="menu-item__icon"
              />
              <span class="menu-item__name">Для выезда за рубеж</span>
            </li>
            <li class="menu-item">
              <img
                src="../assets/icons/icon-plus.svg"
                class="menu-item__icon"
              />
              <span class="menu-item__name">Добавить</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <header class="top-block">
      <img src="../assets/icons/icon-sos.svg" class="icon-sos" />
    </header>
    <div class="content">
      <h1 class="content__header">Будьте здоровы!</h1>
      <div class="content__container">
        <div class="sub-container">
          <div class="block">
            <div class="block__image block_child"></div>
            <div class="block__text-block">
              <div class="block__label">Детское здоровье</div>
              <h2 class="block__header">Как защитить себя от клещей?</h2>
              <div class="block__text">
                11 советов поведения в лесу <br />и парке
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block__image block_mShort"></div>
            <div class="block__text-block">
              <div class="block__label block_green">Привычки</div>
              <h2 class="block__header">
                Привычка недели: работать с перерывами
              </h2>
              <div class="block__text">
                В условиях стресса и на рабочем месте часто кажется,что отдыхать
                нельзя, нужно поднажать
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block__image block_mShort"></div>
            <div class="block__text-block">
              <div class="block__label block_fiolet">Мифы</div>
              <h2 class="block__header">
                Говорят, многоразовые прокладки - это негигиенично. Правда?
              </h2>
              <div class="block__text">Разрушение легенд</div>
            </div>
          </div>
        </div>
        <div class="sub-container sub-container--right">
          <div class="block">
            <div class="block__image block_mShort"></div>
            <div class="block__text-block">
              <div class="block__label block_sea">Про здоровье</div>
              <h2 class="block__header">6 простых шагов к здоровью</h2>
              <div class="block__text">
                Регулярные меры по раннему выявлению и профилактике заболеваний
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block__image block_banana"></div>
            <div class="block__text-block">
              <div class="block__label block_salad">Превентивность</div>
              <h2 class="block__header">Логика превентивного мышления</h2>
              <div class="block__text">
                Если усвоите эти вещи - считайте,что вы на коне
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block__image"></div>
            <div class="block__text-block">
              <div class="block__label block_blue">ЗОЖ</div>
              <h2 class="block__header">
                Учимся правильно стирать простыни и разбираться в составе
                лекарств
              </h2>
              <div class="block__text">При чём тут лимон?</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-menu">
      <img src="../assets/logotype/Short.svg" />
      <img src="../assets/icons/menu-dots.svg" />
    </div>
  </body>
</html>
