<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/productList.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <title>Anti-mite</title>
  </head>
  <body>
    <menu class="main-menu">
      <div class="main-menu__container">
        <img src="../assets/logotype/logotype.svg" class="header-logo" />
        <img src="../assets/logotype/Short.svg" class="header-logo__short" />
        <div class="option">
          <img src="../assets/icons/photoUser.svg" class="option__icon" />
          <div class="option__name">Дарья Иванова</div>
        </div>
        <div class="button-short">Запись к врачу</div>
        <div class="button-icon"></div>
        <ul class="menu-options">
          <li class="option">
            <img src="../assets/icons/menuMain.svg" class="option__icon" />
            <div class="option__name">Главное</div>
          </li>
          <li class="option">
            <img src="../assets/icons/menuTime.svg" class="option__icon" />
            <div class="option__name">История событий</div>
          </li>
          <li class="option">
            <img src="../assets/icons/menuArchive.svg" class="option__icon" />
            <div class="option__name">Документы</div>
          </li>
        </ul>
        <h2 class="sub-title">Страховки</h2>
        <ul class="menu-options">
          <li class="option">
            <img
              src="../assets/icons/../icons/menuPlusColor.svg"
              class="option__icon--active"
            />
            <div class="option__name--active">Купить или добавить</div>
          </li>
          <li class="option">
            <img src="../assets/icons/menuCase.svg" class="option__icon" />
            <div class="option__name">Медицинская</div>
          </li>
        </ul>
      </div>
    </menu>
    <div class="top-menu">
      <img src="../assets/icons/messagesDark.svg" class="top-menu__icon" />
      <img src="../assets/icons/sosDark.svg" />
    </div>
    <div class="content">
      <div class="content__container">
        <img src="../assets/icons/menuPlusColor.svg" class="content__icon" />
        <h1 class="header">Купить или добавить полис</h1>
      </div>
      <div class="content-blocks">
        <div class="row">
          <div class="col-12 col-md-6">
            <aside class="block">
              <div class="block__content">
                <img src="../assets/icons/QR.svg" />
                <div class="block__title">Страховой полис по номеру</div>
                <div class="block__sub-title">
                  Добавление полиса по номеру или QR-коду
                </div>
              </div>
              <div class="block__button">Добавить</div>
            </aside>
            <aside class="block block--green">
              <div class="block__content">
                <img src="../assets/icons/Video.svg" />
                <div class="block__title--middle">
                  Онлайн консультации с врачом из любой точки мира
                </div>
                <div class="block__sub-title--white">Для родных и близких</div>
                <div class="block__ill-girl"></div>
              </div>
              <div class="block__button--fiolet">Добавить</div>
            </aside>
          </div>
          <div class="col 12 col-md-6">
            <aside class="block block--blue">
              <div class="block__content">
                <img src="../assets/icons/Tree.svg" />
                <div class="block__title">Антиклещ</div>
                <div class="block__sub-title">Для защиты в сезон</div>
                <div class="block__ill-forest"></div>
              </div>
              <div class="block__button--fiolet">Купить полис</div>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-menu">
      <img src="../assets/logotype/Short.svg" />
      <img src="../assets/icons/menu-dots.svg" />
    </div>
  </body>
</html>
