<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/profileUser.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <title>Document</title>
  </head>
  <body>
    <menu class="main-menu">
      <div class="main-menu__container">
        <img src="../assets/logotype/logotype.svg" class="header-logo" />
        <img src="../assets/logotype/Short.svg" class="header-logo__short" />
        <div class="option--user">
          <div class="option-active">
            <div class="icon-active"></div>
            <img src="../assets/icons/userColored.svg" class="option__icon" />
          </div>
          <div class="option__name--active">+7 961 795-05-25</div>
        </div>

        <h2 class="sub-title">Страховки</h2>
        <div class="option">
          <img src="../assets/icons/plusDark.svg" class="option__icon" />
          <div class="option__name">Добавить</div>
        </div>
      </div>
    </menu>

    <header class="top-menu">
      <img src="../assets/icons/sosDark.svg" />
    </header>

    <div class="edit-block">
      <div class="edit-block__container">
        <div class="row">
          <div class="col-md-6">
            <div class="user-photo">
              <div class="user-photo__bg"></div>
              <img
                src="../assets/icons/userColored.svg"
                class="user-photo__icon"
              />
            </div>
            <div class="header">+7 961 795-05-25</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="item">
              <div class="item__label">ФИО</div>
              <div class="item__dash">__</div>
            </div>
            <div class="item">
              <div class="item__label">Дата рождения</div>
              <div class="item__dash">__</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="item">
              <div class="item__label">Пол</div>
              <div class="item__dash">__</div>
            </div>
            <div class="item">
              <div class="item__label">Регион</div>
              <div class="item__dash">__</div>
            </div>
          </div>
        </div>
        <button class="reset-button button-color">Редактировать профиль</button>
      </div>
      <div class="line"></div>
      <div class="add-card">
        <div class="row">
          <div class="col-md-5 col-lg">
            <div class="add-card__rectangle">
              <img src="../assets/icons/plusThin.svg" class="add-card__icon" />
              <div class="add-card__button">Добавить карту</div>
            </div>
          </div>
          <div class="offset-md-1"></div>
          <div class="col-md-6">
            <div class="add-card__text">
              Привяжите банковскую карту для оплаты услуг в один клик. Можно
              привязать только одну карту.
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="bottom-menu">
        <div class="bottom-menu__option">Архив полисов</div>
        <div class="bottom-menu__option">Недавние адреса</div>
        <div class="bottom-menu__option--red">Выйти</div>
      </div>
    </div>
    <div class="sub-menu">
      <img src="../assets/logotype/Short.svg" />
      <img src="../assets/icons/menu-dots.svg" />
    </div>
  </body>
</html>
