<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/main-menu.css" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/sos.css" />
    <title>Main</title>
  </head>
  <body>
    <!-- menu -->
    <div class="menu">
      <div class="menu__container">
        <img src="../assets/logotype/logotype.svg" class="logo" />
        <img src="../assets/logotype/Short.svg" class="logo__short" />

        <!-- user -->
        <div class="user">
          <div class="menu-item">
            <img src="../assets/icons/icon-user.svg" class="menu-item__icon" />
            <span class="menu-item__name">Дарья Иванова</span>
          </div>
        </div>
        <!-- user -->

        <!-- sub-header -->
        <span class="sub-header">Страховки</span>
        <!-- sub-header -->

        <nav>
          <!-- menu-items -->
          <ul class="menu-items">
            <!-- menu-item -->
            <li class="menu-item">
              <img src="../assets/icons/icon-med.svg" class="menu-item__icon" />
              <span class="menu-item__name">Медицинская</span>
            </li>
            <!-- menu-item -->

            <!-- menu-item -->
            <li class="menu-item">
              <img
                src="../assets/icons/icon-plan.svg"
                class="menu-item__icon"
              />
              <span class="menu-item__name">Для выезда за рубеж</span>
            </li>
            <!-- menu-item -->

            <!-- menu-item -->
            <li class="menu-item">
              <img
                src="../assets/icons/icon-plus.svg"
                class="menu-item__icon"
              />
              <span class="menu-item__name">Добавить</span>
            </li>
            <!-- menu-item -->
          </ul>
        </nav>
      </div>
    </div>
    <!-- menu -->

    <!-- top-block -->
    <div class="top-block">
      <img src="../assets/icons/sos-red.svg" class="icon-sosRed" />
    </div>
    <!-- top-block -->

    <!-- container -->
    <div class="container">
      <!-- content -->
      <div class="content">
        <h1 class="content__header">Скорая помощь</h1>
        <label class="content__label">Телефон для вызова скорой</label>
        <span class="content__phone">+7 (495) 725–10–10</span>
        <label class="content__label">Номер вашего полиса ДМС</label>
        <span class="content__number">001ДМС34240118/175</span>
      </div>
      <!-- content -->

      <!-- info -->
      <aside class="info">
        <!-- list -->
        <ul class="list">
          <label class="list__label">Когда стоит вызвать скорую помощь?</label>
          <li class="list__item">Перегрев, тепловой удар</li>
          <li class="list__item">Обморок, потеря сознания</li>
          <li class="list__item">Травмы, кровотечения, ожоги, укусы</li>
          <li class="list__item">
            Отравления лекарствами и другими веществами
          </li>
          <li class="list__item">Удушье, слабый или неровный пульс</li>
          <li class="list__item">Роды или угроза прерывания беременности</li>
          <li class="list__item">Инородный предмет в организме</li>
        </ul>
        <!-- list -->
        <!-- attention-block -->
        <div class="attention-block">
          <img
            src="../assets/icons/Attention.svg"
            class="attention-block__icon"
          />
          Если у вас болит в груди или животе, внезапно возникли отеки или
          онемела часть тела, лучше свяжитесь с врачом для консультации.
        </div>
        <!-- attention-block -->
      </aside>
      <!-- info -->
    </div>
    <!-- container -->
    <div class="footer">
      <img src="../assets/logotype/Short.svg" />
      <img src="../assets/logotype/Hover.svg" />
    </div>
  </body>
</html>
