<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/css/reset.css">
	<link rel="stylesheet" href="/styles/css/grids.css">
	<link rel="stylesheet" href="/styles/css//testGrids.css">
	<title>Document</title>
</head>
<body>
	<div class="main-container">
		<div class="row row-test">
			<div class="col-12 col-sm-4 col-md-12 column">
				<div class="content content_first"></div>
			</div>
			<div class="col-12 col-sm-4 col-md-12 column">
				<div class="content "></div>
			</div>
			<div class="col-12 col-sm-4 col-md-12 column">
				<div class="content content_last"></div>
			</div>
		</div>
	</div>
</body>
</html>