.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.button-primary {
  background: #50287d;
  border-radius: 24px;
  height: 48px;
  padding: 14px 18px 14px;
  color: white;
  font-size: 16px;
  font-family: "Segoe UI";
  margin-bottom: 60px;

  &--short {
    max-width: 160px;
    margin: 72px 30px 48px;
    text-align: center;
  }

  &:hover {
    background-color: #5e2f93;
    cursor: pointer;
  }
}

.button-secondary {
  font-size: 16px;
  line-height: 24px;
  color: #50287d;
  font-weight: 500;
  padding: 10px 18px 14px;
  border: 2px solid #50287d;
  border-radius: 24px;
  box-sizing: border-box;
  margin-bottom: 48px;
  text-align: center;

  &:hover {
    border-color: #5e2f93;
    color: white;
    background-color: #5e2f93;
    cursor: pointer;
  }
}

.button-main-disabled {
  width: 100%;
  background-color: #d2dce6;
  padding: 12px 8px 14px;
  border: none;
  border-radius: 24px;
  color: #96a0aa;
  margin-top: 48px;
  line-height: 24px;
  text-align: center;
}

.input-reset {
  border: none;
  background-image: none;
  background-color: transparent;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.label {
  color: #b5bdc8;
  font-style: Light;
  font-size: 11px;
}

.input-field {
  width: 100%;
  background: #e7ebef;
  border-bottom: 1px solid #b5bdc8;
  padding-top: 5px;
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;

  &--white {
    width: 100%;
    border-bottom: 1px solid #b5bdc8;
    font-size: 16px;
    line-height: 36px;
    color: #b5bdc8;
  }
}

.confirm-checkbox {
  &__checkbox-original {
    display: none;
  }

  &__checkbox-original:checked + &__checkbox &__checkbox-square {
    display: block;
  }

  &__checkbox {
    cursor: pointer;
    margin: 2px;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #95bef0;
  }

  &__checkbox-square {
    background: #00d2ff;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    display: none;
  }
}

body {
  font-family: "Segoe UI";
}

.header {
  color: #28323c;
  font-size: 32px;
  margin: 24px 0 48px;
  font-weight: 500;
}
