.offer-block {
  background-image: url("../../assets/images/tsar-landing/Hero.jpg");
  background-size: cover;
}

.top-block {
  background: rgba(40, 50, 60, 0.8);

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 944px;
    margin: 0 auto;
    padding: 24px 28px 24px;
  }

  &__city {
    font-size: 16px;
    color: white;
    line-height: 24px;
    vertical-align: middle;
  }

  &__arrow-down {
    position: relative;
    top: 2px;
  }
}

.header {
  font-size: 32px;
  color: white;
  line-height: 48px;
  margin: 72px 0 36px;
}

.sub-header {
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin-bottom: 60px;
}

.selling-point {
  max-width: 944px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 28px 0;
}

.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.button-main {
  background: #50287d;
  border-radius: 24px;
  max-width: 300px;
  height: 48px;
  padding: 10px 18px 14px;
  color: white;
  font-size: 16px;
  font-family: "Segoe UI";
  margin-bottom: 60px;
}

.container {
  display: flex;
  max-width: 944px;
  margin: 0 auto;
  padding: 48px 28px;
  font-family: "Segoe UI";
}

.block-pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
  border: 1px solid #e6f0fa;
  &:hover {
    box-shadow: 0px 12px 24px rgba(26, 65, 101, 0.25);
    border-radius: 4px;
  }
  &:hover .button-primary {
    background: #50287d;
    border-radius: 2px;
    height: 64px;
    color: white;
    margin: 4px;
  }
}

.content {
  margin-left: 24px;
  padding: 24px;
  &__name {
    font-size: 16px;
    line-height: 24px;
    color: #96a0aa;
  }
  &__price {
    font-size: 32px;
    line-height: 48px;
    color: #28323c;
  }
}

.block-pricing:first-of-type {
  margin-left: 0;
}

.content:first-of-type {
  margin-left: 0;
}

.choiced {
  padding: 24px 0;

  &__item {
    font-size: 16px;
    padding-bottom: 24px;
    line-height: 24px;
  }

  &__chek-mark {
    position: relative;
    top: 6px;
  }
}

.button-primary {
  font-size: 16px;
  line-height: 24px;
  color: #50287d;
  text-align: start;
  padding: 24px;
}

.label-block {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 11px;
  line-height: 24px;
  background: #fcc8be;
  border-radius: 12px;
  padding: 0 8px 0;
  color: white;
}

.container-about {
  background-color: #f3f5f7;
  font-family: "Segoe UI";

  &__main {
    position: relative;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 28px 0;
  }

  &__content {
    display: flex;
  }
}

.consultation {
  &__header {
    font-size: 32px;
    color: #28323c;
    line-height: 48px;
    padding: 48px 0 24px;
  }

  &__text {
    font-size: 16px;
    color: #28323c;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 470px;
  }
}

.consultation-image {
  &__woman {
    position: absolute;
    top: 216px;
    left: 532px;
  }
  &__mobile {
    position: absolute;
    top: 120px;
    left: 685px;
  }
}

.button-secondary {
  font-size: 16px;
  line-height: 24px;
  color: #50287d;
  padding: 10px 18px 14px;
  border: 2px solid #50287d;
  border-radius: 24px;
  height: 48px;
  min-width: 280px;
  box-sizing: border-box;
  margin-bottom: 48px;
}

.line {
  border-bottom: 1px solid #d2dce6;
  margin-bottom: 48px;
}

.advantage-block {
  &__container {
    max-width: 944px;
    margin: 0 auto;
    display: flex;
    padding: 0 28px 48px;
  }
}

.item-advantage {
  margin-left: 24px;
  max-width: 280px;

  &:first-of-type {
    margin-left: 0;
  }
  &__image {
    width: 100%;
  }
  &__sub-text {
    color: #28323c;
    line-height: 24px;
    padding: 24px 0 0;
  }
}

.picture {
  min-height: 216px;
  position: relative;
  &_man-sick {
    background-image: url(../../assets/images/tsar-landing/man-sick.jpg);
    background-repeat: no-repeat;
  }

  &_girl {
    background-image: url(../../assets/images/tsar-landing/girl.jpg);
    background-repeat: no-repeat;
  }

  &_handshake {
    background-image: url(../../assets/images/tsar-landing/handshake.jpg);
    background-repeat: no-repeat;
  }
  &__bg {
    background: rgba(16, 20, 24, 0.65);
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    line-height: 24px;
    padding: 24px;
  }

  &__text {
    line-height: 24px;
    position: absolute;
    color: white;
    left: 24px;
    bottom: 24px;
  }
}
